.hide{
    display:none;
}




.btn:hover{
    background-color:green;
    color:white;
}
#startBtn{
    background-color: green;
    color:white;
}
.btn{
    background-color: blue;
    color:white;

}

.container{ 
    background-color:lightgray;

}